@custom-variant dark (&:where(.dark, .dark *));

@layer theme,base,components,utilities;
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);
:root{
  --primary-color:0 54 232;
  --font:"Poppins",sans-serif;
  --space:100px;
}
.cls{
text-shadow: 10px 10px 20px red;
}
@layer base {
  h3 {
    @apply text-2xl font-bold;
  }
}
@layer components {
  .custom-card {
    @apply p-6 bg-white dark:bg-gray-800 rounded-xl shadow hover:shadow-lg hover:scale-105;
  }
  .btn {
    @apply bg-blue-500 text-white rounded-l-full p-4 hover:bg-green-500 scale-110 transition duration-200;
  }
  .btn-primary{
    @apply bg-blue-500 text-white px-4 py-2 rounded border  md:mb-2
  }
  .btn-secondary
  {
    @apply bg-white text-black px-4 py-2 rounded-2xl hover:bg-transparent hover:border-blue-500 hover:text-white hover:border-2 md:mt-2
  }

}
@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
}


